<div
  class="video-item"
  [class.active]="isActive"
  [class.watched]="video.isWatched"
  matRipple
  (click)="selectVideo()"
>
  <div class="video-details">
    <div class="course-index">
      <div class="index-badge">{{ index + 1 }}</div>
      <h5>{{ video.title }}</h5>
    </div>
    <div class="video-meta">
      <div class="meta-info">
        <mat-icon class="time-icon">schedule</mat-icon>
        <span class="duration">{{ video.duration }} min</span>
      </div>
      <div class="status-indicator">
        <mat-icon *ngIf="video.isWatched" class="watched-icon"
          >check_circle</mat-icon
        >
        <div *ngIf="!video.isWatched" class="unwatched-circle"></div>
      </div>
    </div>
  </div>
</div>
